In [95]:
# Importing Pandas and NumPy packages
import pandas as pd
import numpy as np

In [96]:
# Loading the two datasets, df_subv2022 and df_subv2023, into the notebook  
df_subv2022 = pd.read_csv("subventions-toulouse_2022.csv", sep = ";")
df_subv2023 = pd.read_csv("subventions-toulouse_2023.csv", sep = ";")

In [97]:
# Exploring the first five rows of the df_subv2022 dataset  
df_subv2022.head()

,nomAttribuant,idAttribuant,dateConvention,referenceDecision,nomBeneficiaire,idBeneficiaire,objet,montant,nature,conditionsVersement,datesPeriodeVersement,idRAE,notificationUE,pourcentageSubvention,secteur,catégorie,type
0,Toulouse Métropole,"2,43E+13",NaN,NaN,3F OCCITANIE SA,"7,17E+13",Subvention d'équipement,840690.00,aide en numéraire,échelonné,06/12/2022,NaN,non,1,Immobilier,Logement social,SA conseil d'administration
1,Toulouse Métropole,"2,43E+13",NaN,NaN,A CROQUER,"8,30E+13",Subvention d'équipement,1000.00,aide en numéraire,unique,24/05/2022,NaN,non,1,Restauration,Restauration rapide,Association loi 1901
2,Toulouse Métropole,"2,43E+13",NaN,NaN,A VELO SANS AGE,"8,14E+13",Subvention d'équipement,2000.00,aide en numéraire,unique,26/04/2022,NaN,non,1,Transport,Mobilité douce,Association loi 1901
3,Toulouse Métropole,"2,43E+13",NaN,NaN,AARPI LARROUY CASTERA CADIOU,"8,39E+13",Subvention d'équipement,299.67,aide en numéraire,unique,09/12/2022,NaN,non,1,Juridique,Cabinet d'avocats,Association d'avocats à responsabilité profess...
4,Toulouse Métropole,"2,43E+13",NaN,NaN,AAYS INDUSTRIES,"8,95E+13",Subvention d'équipement,400.00,aide en numéraire,unique,13/07/2022,NaN,non,1,Conseil,Construction aéronautique,Société par actions simplifiée (SAS)

In [98]:
# Exploring the first five rows of the df_subv2023 dataset  
df_subv2023.head()

,nomAttribuant,idAttribuant,dateConvention,referenceDecision,nomBeneficiaire,idBeneficiaire,objet,montant,nature,conditionsVersement,datesPeriodeVersement,idRAE,notificationUE,secteur,catégorie,type
0,Toulouse Métropole,"2,43E+13",NaN,NaN,ADIL 31 ASSOC,"3,26E+13",Subvention de Fonctionnement,258555.0,aide en numéraire,échelonné,01/12/2023,NaN,non,Juridique,Conseil juridique (logement),Association loi 1901
1,Toulouse Métropole,"2,43E+13",NaN,NaN,ADOMA,"7,88E+13",Subvention d'équipement,60000.0,aide en numéraire,unique,11/05/2023,NaN,non,Immobilier,Hébergement social,Société Anonyme (SA)
2,Toulouse Métropole,"2,43E+13",NaN,NaN,AGFCCBM,"8,23E+13",Subvention de Fonctionnement,5197.0,aide en numéraire,unique,09/11/2023,NaN,non,Économie sociale et solidaire,Gestion financiere du conseil citoyen Bellefon...,Association loi 1901
3,Toulouse Métropole,"2,43E+13",NaN,NaN,AI2F,"8,05E+13",Subvention d'équipement,5000.0,aide en numéraire,unique,15/12/2023,NaN,non,Restauration,Pâtisserie,Société à responsabilité limitée (SARL)
4,Toulouse Métropole,"2,43E+13",NaN,NaN,AJ CONSTRUCTION,"3,49E+13",Subvention d'équipement,1350.0,aide en numéraire,unique,15/12/2023,NaN,non,Bâtiment et travaux publics (BTP),Construction,Société par actions simplifiée (SAS)

In [99]:
# Checking data types  
df_subv2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nomAttribuant          396 non-null    object
 1   idAttribuant           396 non-null    object
 2   dateConvention         0 non-null      float64
 3   referenceDecision      0 non-null      float64
 4   nomBeneficiaire        396 non-null    object
 5   idBeneficiaire         386 non-null    object
 6   objet                  396 non-null    object
 7   montant                396 non-null    float64
 8   nature                 396 non-null    object
 9   conditionsVersement    396 non-null    object
 10  datesPeriodeVersement  396 non-null    object
 11  idRAE                  0 non-null      float64
 12  notificationUE         396 non-null    object
 13  pourcentageSubvention  396 non-null    int64
 14  secteur                396 non-null    object
 15  catégorie              395 non-null    object
 16  type                   396 non-null    object
dtypes: float64(4), int64(1), object(12)
memory usage: 52.7+ KB

In [100]:
# Checking data types
df_subv2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nomAttribuant          551 non-null    object
 1   idAttribuant           551 non-null    object
 2   dateConvention         0 non-null      float64
 3   referenceDecision      0 non-null      float64
 4   nomBeneficiaire        551 non-null    object
 5   idBeneficiaire         543 non-null    object
 6   objet                  551 non-null    object
 7   montant                551 non-null    float64
 8   nature                 551 non-null    object
 9   conditionsVersement    551 non-null    object
 10  datesPeriodeVersement  551 non-null    object
 11  idRAE                  0 non-null      float64
 12  notificationUE         551 non-null    object
 13  secteur                551 non-null    object
 14  catégorie              551 non-null    object
 15  type                   551 non-null    object
dtypes: float64(4), object(12)
memory usage: 69.0+ KB

* When verifying the data types, I encountered two errors. Firstly, the "datesPeriodeVersement" field needs to be converted to a date format.
* Secondly, the "pourcentageSubvention" in df_subv2022 column contains information that is not required, and for greater data accuracy, this column should be removed to facilitate a potential join.

In [101]:
# Deleting the "pourcentageSubvention" column
df_subv2022 = df_subv2022.drop(columns ='pourcentageSubvention', axis = 1)

In [102]:
# Verifying if the column has been successfully deleted
df_subv2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nomAttribuant          396 non-null    object
 1   idAttribuant           396 non-null    object
 2   dateConvention         0 non-null      float64
 3   referenceDecision      0 non-null      float64
 4   nomBeneficiaire        396 non-null    object
 5   idBeneficiaire         386 non-null    object
 6   objet                  396 non-null    object
 7   montant                396 non-null    float64
 8   nature                 396 non-null    object
 9   conditionsVersement    396 non-null    object
 10  datesPeriodeVersement  396 non-null    object
 11  idRAE                  0 non-null      float64
 12  notificationUE         396 non-null    object
 13  secteur                396 non-null    object
 14  catégorie              395 non-null    object
 15  type                   396 non-null    object
dtypes: float64(4), object(12)
memory usage: 49.6+ KB

In [103]:
# The data type of "datesPeriodeVersement" is incorrect as it is formatted as an "object".  
# I want to convert it to a date format.

df_subv2022['datesPeriodeVersement'] = pd.to_datetime(df_subv2022['datesPeriodeVersement'],format="mixed", dayfirst=True).dt.strftime("%d/%m/%Y")

In [104]:
# Converting to a string

df_subv2022["dateConvention"] = df_subv2022["dateConvention"].astype(str)
df_subv2022["referenceDecision"] = df_subv2022["referenceDecision"].astype(str)
df_subv2022["idRAE"] = df_subv2022["idRAE"].astype(str)

In [105]:
# Verifying if the data types has been successfully changed

df_subv2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   nomAttribuant          396 non-null    object
 1   idAttribuant           396 non-null    object
 2   dateConvention         396 non-null    object
 3   referenceDecision      396 non-null    object
 4   nomBeneficiaire        396 non-null    object
 5   idBeneficiaire         386 non-null    object
 6   objet                  396 non-null    object
 7   montant                396 non-null    float64
 8   nature                 396 non-null    object
 9   conditionsVersement    396 non-null    object
 10  datesPeriodeVersement  396 non-null    object
 11  idRAE                  396 non-null    object
 12  notificationUE         396 non-null    object
 13  secteur                396 non-null    object
 14  catégorie              395 non-null    object
 15  type                   396 non-null    object
dtypes: float64(1), object(15)
memory usage: 49.6+ KB

In [106]:
# Changing the font for clearer reading

df_subv2022['nomBeneficiaire'] = df_subv2022['nomBeneficiaire'].str.title()

In [107]:
# Checking for nulls. Even if I find nulls, I will keep them as they will be useful.

df_subv2022.isnull().sum()

nomAttribuant             0
idAttribuant              0
dateConvention            0
referenceDecision         0
nomBeneficiaire           0
idBeneficiaire           10
objet                     0
montant                   0
nature                    0
conditionsVersement       0
datesPeriodeVersement     0
idRAE                     0
notificationUE            0
secteur                   0
catégorie                 1
type                      0
dtype: int64

* When exploring the dataset, I noticed that some "idBeneficiaire" values were missing, but the rest of the data was complete.

In [112]:
# Finding the top 10 sectors that receive the most subsidies
# Aggregating the amounts by sector

df_secteur = df_subv2022.groupby('secteur', as_index=False)['montant'].sum()

# Sorting by descending amount

df_secteur = df_secteur.sort_values(by='montant', ascending=False)

# Displaying the top 10 sectors that receive the most subsidies
print(df_secteur.head(10))

                              secteur      montant
20                         Immobilier  22936391.12
9   Bâtiment et travaux publics (BTP)  18260580.90
13                            Culture  13500600.24
5           Aménagement du territoire  12239582.10
14                Développement local   5390658.60
41                          Éducation   3632903.13
38                          Transport   2021203.67
25                          Numérique   1643154.01
27                          Recherche   1276002.63
15                             Emploi   1161852.30

In [117]:
# Finding the top 10 sectors that receive the least subsidies
# Aggregating the amounts by sector

df_secteur2 = df_subv2022.groupby('secteur',as_index=False)['montant'].sum()

df_secteur2 = df_secteur2.sort_values(by='montant', ascending=True)

print(df_secteur2.head(10))

                      secteur  montant
4             Agroalimentaire   1000.0
36                   Sécurité   2800.0
33             Société civile   4457.0
21                   Jeunesse  14500.0
6                   Artisanat  17700.0
37                   Tourisme  26700.0
34  Solidarité internationale  31000.0
23                       Mode  34350.0
28               Restauration  34866.0
30            Service civique  36000.0

In [130]:
# Analyzing the min, max, and mean of the "montant"

df_subv2022["montant"].max(),df_subv2022["montant"].mean().round(1),df_subv2022["montant"].min(),df_subv2022["montant"].median()

(15000000.0, 224215.5, 26.8, 11517.5)

In [131]:
# Analyzing the total amount given for the year 2022 

df_subv2022["montant"].sum()

88789356.48

In [197]:
print(f" The metropole of toulouse has given {df_subv2022["montant"].sum()}€ of subsidies this year")

 The metropole of toulouse has given 88789356.48€ of subsidies this year

# Now I am going to work on the 2023 dataset

In [134]:

df_subv2023['datesPeriodeVersement'] = pd.to_datetime(df_subv2023['datesPeriodeVersement'],format="mixed", dayfirst=True).dt.strftime("%d/%m/%Y")

In [136]:

df_subv2023["dateConvention"] = df_subv2023["dateConvention"].astype(str)
df_subv2023["referenceDecision"] = df_subv2023["referenceDecision"].astype(str)
df_subv2023["idRAE"] = df_subv2023["idRAE"].astype(str)

In [143]:
df_subv2023['secteur'] = df_subv2023['secteur'].str.title()
df_subv2023['nomBeneficiaire'] = df_subv2023['nomBeneficiaire'].str.title()

In [140]:
df_subv2023.head()

,nomAttribuant,idAttribuant,dateConvention,referenceDecision,nomBeneficiaire,idBeneficiaire,objet,montant,nature,conditionsVersement,datesPeriodeVersement,idRAE,notificationUE,secteur,catégorie,type
0,Toulouse Métropole,"2,43E+13",nan,nan,Adil 31 Assoc,"3,26E+13",Subvention de Fonctionnement,258555.0,aide en numéraire,échelonné,01/12/2023,nan,non,Juridique,Conseil juridique (logement),Association loi 1901
1,Toulouse Métropole,"2,43E+13",nan,nan,Adoma,"7,88E+13",Subvention d'équipement,60000.0,aide en numéraire,unique,11/05/2023,nan,non,Immobilier,Hébergement social,Société Anonyme (SA)
2,Toulouse Métropole,"2,43E+13",nan,nan,Agfccbm,"8,23E+13",Subvention de Fonctionnement,5197.0,aide en numéraire,unique,09/11/2023,nan,non,Économie sociale et solidaire,Gestion financiere du conseil citoyen Bellefon...,Association loi 1901
3,Toulouse Métropole,"2,43E+13",nan,nan,Ai2F,"8,05E+13",Subvention d'équipement,5000.0,aide en numéraire,unique,15/12/2023,nan,non,Restauration,Pâtisserie,Société à responsabilité limitée (SARL)
4,Toulouse Métropole,"2,43E+13",nan,nan,Aj Construction,"3,49E+13",Subvention d'équipement,1350.0,aide en numéraire,unique,15/12/2023,nan,non,Bâtiment et travaux publics (BTP),Construction,Société par actions simplifiée (SAS)

In [141]:
df_subv2023.isnull().sum()

nomAttribuant            0
idAttribuant             0
dateConvention           0
referenceDecision        0
nomBeneficiaire          0
idBeneficiaire           8
objet                    0
montant                  0
nature                   0
conditionsVersement      0
datesPeriodeVersement    0
idRAE                    0
notificationUE           0
secteur                  0
catégorie                0
type                     0
dtype: int64

In [144]:
# Finding the top 10 sectors that receive the most subsidies
# Aggregating the amounts by sector

df_secteur_1 = df_subv2023.groupby('secteur', as_index=False)['montant'].sum()

# Sorting by descending amount
df_secteur_1 = df_secteur_1.sort_values(by='montant', ascending=False)

# Displaying the top 10 sectors that receive the most subsidies
print(df_secteur_1.head(10))

                              secteur      montant
21                         Immobilier  37374906.38
2             Administration Publique  35870770.27
14                            Culture  12324678.24
5           Aménagement Du Territoire   6952819.50
36                           Tourisme   5607907.23
37                          Transport   3500367.07
9   Bâtiment Et Travaux Publics (Btp)   3096603.93
40                          Éducation   2129320.41
1                      Action Sociale   2105916.38
26                          Numérique   1248427.59

In [156]:
# Finding the top 10 sectors that receive the least subsidies
# Aggregating the amounts by sector

df_secteur_2 = df_subv2023.groupby('secteur', as_index=False)['montant'].sum()

df_secteur_2 = df_secteur_2.sort_values(by='montant', ascending=True)

print(df_secteur_2.head(10))

               secteur   montant
25              Médias   7000.00
12    Commerce De Gros  10900.00
0   Action Humanitaire  14952.19
7           Automobile  21300.00
32    Services Sociaux  28000.00
6            Artisanat  31000.00
27           Politique  33100.00
24                Mode  34000.00
18          Entreprise  38200.00
31     Service Civique  38500.00

In [157]:

df_subv2023["montant"].max(),df_subv2023["montant"].mean().round(1),df_subv2023["montant"].min(),df_subv2023["montant"].median()

(27132600.0, 213647.3, 184.0, 6000.0)

In [158]:
df_subv2023["montant"].sum()

117719667.87

In [159]:
print(f" The metropole of toulouse has given {df_subv2023["montant"].sum()}€ of subsidies this year")

 The metropole of toulouse has given 117719667.87€ of subsidies this year

In [193]:
total_2022 = df_subv2022["montant"].sum()
total_2023 = df_subv2023["montant"].sum()

difference_pourcentage = ((total_2023 - total_2022) / total_2022) * 100

print(f"augmentation entre 2022-2023 en pourcentage : {difference_pourcentage:.2f}%")

augmentation entre 2022-2023 en pourcentage : 32.58%